# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

# Maven #
.classpath
.project
.settings/
target/

# Vim temporary files #
*~

# Log4j #
*.log